.colorBlue {
    color: #102542;
}

.colorCoral {
    color: #F87060;
}

.colorPlat {
    color: #CDD7D6;
}

.colorBrown {
    color: #B3A394;
}

.colorWhite {
    color: #FFFFFF;
}

body {
    scroll-behavior: smooth;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: #102542;
    background-color: #FFFFFF;
    text-align: center;
}

.logo {
    height: 50%;
    width: 50%;
}

.navbar {
    background-color: #102542;
    color: #FFFFFF;
}

.nav-link {
    color: #FFFFFF;
}

.navbar-nav .nav-link.active {
    color: #CDD7D6;
}

.formBox {
    background-color: #B3A394;
    border-style: solid;
    border-width: medium;
    border-color: #102542;
    width: 70%;
    display: inline-block;
}

.errorText {
    color: darkred;
}

footer {
    background-color: #102542;
    color: #FFFFFF;
}

.email {
    background-color: #102542;
    color: #FFFFFF;
}